@using MvcKutuphane.Models.Entity
@model List<TBL_HAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}
<h2>İADESİ ALINAN KİTAP LİSTESİ</h2>

<table class="table table-bordered">


    <tr>
        <th>İŞLEMID</th>
        <th>Kitap Adı</th>
        <th>ÜYE</th>
        <th>PERSONEL</th>
        <th>ALIŞ TARİHİ</th>
        <th>ÜYE İADE TARİHİ</th>
        <th>DETAYLAR</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.ID</td>
            <td>@item.TBL_KITAP.AD</td>
            <td>@item.TBL_UYELER.AD&nbsp @item.TBL_UYELER.SOYAD</td>
            <td>@item.TBL_PERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(item.ALISTARIH).ToString("dd-MM-yyyy")</td>
            <td>@Convert.ToDateTime(item.UYEGETIRTARIH).ToString("dd-MM-yyyy")</td>
            <td><a href="/Ödünç/OduncDelete/@item.ID" class="btn btn-danger" style="background-color:aquamarine">Detaylar</a></td>

        </tr>
    }

</table>






